.band {
}
.band-content {
  color: #fff;
  border-radius: 0.3rem;
  padding: var(--spacing-5);
  margin-bottom: var(--spacing-7);
  display: flex;
  align-items: center;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

  @include for-sidebar {
    max-width: 100%;
  }
}
.band-content svg {
  margin-right: var(--spacing-4);
}
.band-artwork {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing-4);
}
