.nav-horizontal {
  background-color: var(--bg-note-meta-color);
  font-family: var(--text-font-primary);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
}

.nav-horizontal ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.nav-horizontal li {
  display: flex;
  margin: 1rem 1rem 0 0;
}

.nav-horizontal li a {
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
}

.nav-horizontal li a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-horizontal li a:active {
  color: #000;
  text-decoration: none;
}

.header__navigation.nav-horizontal {
  margin-top: -0.5rem;
  background-color: transparent;
  box-shadow: none;
  // border-bottom: 2px solid currentColor;
  padding: 0;
  padding-bottom: var(--spacing-2);
}

.header__navigation.nav-horizontal ul {
  justify-content: center;
}

.header__navigation.nav-horizontal li {
  margin-right: 0.05rem;
  margin-left: 0.05rem;
  font-weight: 600;
}

.header__navigation.nav-horizontal a {
  background-color: var(--bg-color-dark-semitransparent);
}
