.heading-small {
  font-size: 1rem;
  font-family: var(--text-font-primary);
  line-height: 1.8;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.heading-medium {
  font-size: 1.5rem;
  font-family: var(--text-font-primary);
  line-height: 1.8;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.text-default {
  font-size: 1rem;
  font-family: var(--text-font-primary);
  line-height: 1.5rem;
}

.text-medium {
  font-size: 1.5rem;
  font-family: var(--text-font-primary);
  line-height: 1.8;
}

.text-small {
  font-size: 0.9rem;
  font-family: var(--text-font-primary);
  line-height: 1.5rem;
}

.text {
  font-family: var(--text-font-primary);
  line-height: 1.5em;
}

.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: var(--spacing-4);
}

.text ul,
.text ol {
  padding-left: 1rem;
}

.text ul li {
  list-style-type: square;
}

.text > h2:not(.heading) {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.text > *:first-child {
  margin-top: 0;
}

.text-card {
  font-family: var(--text-font-primary);
}

.text a {
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
  // display: inline-block;
  color: var(--link-color);
  text-decoration: underline;
}

.text a:hover {
  color: var(--link-color-active);
}

.text blockquote {
  margin-left: 0;
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  font-style: italic;
  font-size: 1.4rem;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--text-color);
}

.text cite {
  text-align: right;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
}

.text figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text img {
  width: 100%;
}

.text pre {
  background-color: #1a1a1a;
  padding: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  border-left: var(--spacing-3) solid var(--post-articles);
}

.text-menu {
  font-size: 1.2rem;
  line-height: 1.2;
}

.text-menu ul {
  padding: 0;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
}

.text-menu ul li {
  list-style-type: none;
}

.text-menu ul li a {
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 600;
  // display: block;
  padding: 1.5rem;
  position: relative;
}

.text-menu ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.text-white {
  color: #fff;
}

.summary > *:last-child {
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-break {
  border-top: 0.1rem solid #ccc;
  padding: var(--spacing-3) 0;
}
