.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a.u-bookmark-of,
a.link-long,
.e-content a {
  @include word-wrap;
}

.link,
.e-content a,
.experience-list a,
.webring-link {
  text-decoration: underline;
}

.link:hover,
.e-content a:hover,
.experience-list a:hover,
.text a:hover,
.webring-link:hover {
  text-decoration: none;
}

/* Collective focus style */
.text a:focus,
.note a:focus,
.intro a:focus,
.webring-link:focus,
.header__link:focus,
.logo:focus,
.text-menu ul li a:focus,
.link:focus,
.e-content a:focus,
a.header__search:focus,
summary:focus,
.experience-list a:focus,
.header__navigation.nav-horizontal a:focus,
.nav-horizontal a:active {
  color: #000;
  background-color: var(--link-bg-color);
}
